{{ define "footer" }}
<div class="footer-container-fluid">
	<div class="footer-logo">
		<svg
			alt="React SSR Example"
			height="200"
			viewBox="0 0 100 100"
			xmlns="http://www.w3.org/2000/svg"
		>
			<rect
				x="10"
				y="10"
				width="80"
				height="80"
				rx="15"
				ry="15"
				stroke="black"
				stroke-width="3"
				fill="lightblue"
			/>
			<text
				x="50%"
				y="50%"
				text-anchor="middle"
				stroke="#000"
				stroke-width="1px"
				dy=".3em"
				font-size="10"
				font-family="Arial, sans-serif"
			>
				Go React SSR
			</text>
		</svg>
	</div>
	<div class="footer-copyright">
		&copy;
		<a href="https://github.com/highercomve">@highercomve</a>
	</div>
</div>

<script type="text/javascript">
	window.INITIAL_PROPS=JSON.parse({{convertToJson .Payload}})
</script>
<script defer type="module" src="/assets/app/{{.Component}}"></script>
{{ end }}
